salesforce/src/main/mule/salesforce.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="e0c78a60-df78-4d52-902a-5ebdb1a552d1" records="#[payload]" type="" target="" config-ref="Salesforce_Config" targetValue="#[payload]">
		<salesforce:basic-connection username="jainsonika0107@gmail.com" password="Mulesoft@123" securityToken="cdfOIRYT4oM4E3NRah2rAXcO" url="https://login.salesforce.com/services/Soap/u/46.0" />
	</salesforce:sfdc-config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="84764699-cb3d-4fab-b8f0-dc33507c89c2" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<flow name="salesforceFlow" doc:id="6c841cbf-715e-493a-898c-fe9642553550" >
		<http:listener doc:name="Listener" doc:id="087a6dd6-ec81-4640-9533-13a1078b814d" config-ref="HTTP_Listener_config" path="/api/salesforce"/>
		<logger level="INFO" doc:name="Logger" doc:id="0f390cfb-3eda-4a34-b6f1-08004598e61d" />
		<ee:transform doc:name="Transform Message" doc:id="0d646827-be1d-425f-b2d6-f6b34eabeba6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:create type="Order" doc:name="Create" doc:id="6b5640a4-6450-4ae8-8dc9-cee8e136a2af" config-ref="Salesforce_Config"/>
	</flow>
</mule>
